.main {

  width: 90%;
height: 60vh;
  overflow-y: scroll;
  margin: 10px auto;

}
.main::-webkit-scrollbar{
  display: none;
}
.wrapper {
  width: 100%;
  /* max-width: 1500px; */


}
.hellow p:nth-child(1) {
  background: -webkit-linear-gradient(
    16deg,
    #4285f4 0,
    #9b72cb 9%,
    #d96570 20%,
    #d96570 24%,
    #9b72cb 35%,
    #4285f4 44%,
    #9b72cb 50%,
    #d96570 56%,
    #131314 75%,
    #131314 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  padding: 5px;
  font-size: 60px;
}
.hellow p:nth-child(2) {
  font-weight: 500;
  padding: 5px;
  font-size: 35px;
  color: #c8c8c8;
}
.cartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-wrap: wrap;
  gap: 1px;

}

.resualt {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: fit-content;
  align-items: center;
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.user span {
  flex: 1;
}
.user p {
  flex: 11;
  overflow: scroll;
  color: var(--itemColor);
}
.user p::-webkit-scrollbar {
  display: none;
}
.response {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0px 35px;
}
.response img {
  width: 50px;
}
.response span {
  flex: 1;
}
.paragraph {
  flex: 8;
  max-height: 80vh;
  overflow: scroll;
  color: var(--itemColor);
  line-height: 30px;
}
.paragraph::-webkit-scrollbar {
  display: none;
}
.loading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.loading hr {
  height: 15px;
  border: none;
  border-radius: 15px;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #fff, #9ed7ff);
  background-size: 800px 50px;
  animation: loader 2.8s linear infinite;
}
@keyframes loader {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
