.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgColor);
  border-radius: 25px;
  padding: 6px 10px;
  min-width: 800px;
  flex: 2;
}
.inputWrapper input {
  border: none;
  outline: none;
  width: 100%;

  background-color: transparent;
  color: var(--itemColor);
}
.inputWrapper form {
  flex: 7;
  padding: 15px;
  width: 100%;
}

.imgForInput img {
  width: 25px;
  cursor: pointer;
}
.wrapper p {
  font-size: 11px;
  text-align: center;
  margin: 15px 0px;
  color: var(--itemColor);
}
.svg svg path {
  fill: var(--itemColor);
}
.svg svg {
  cursor: pointer;
  min-height: 24px;
  width: auto;
}
.imgForInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
@media screen and (min-width: 820px) and (max-width: 1100px) {
  .inputWrapper {
    min-width: 400px;
    max-width: 600px;
    margin: 5px auto;
  }
}
@media (min-width: 600px) and (max-width: 820px) {
  .inputWrapper {
    max-width: 400px;
    min-width: 200px;
    margin: 15px auto;
  }
  .detail {
    display: none;
  }
}
@media (max-width: 600px) and (min-width: 310px) {
  .inputWrapper {
    max-width: 300px;
    min-width: 150px;
    margin: 15px auto;
  }
  .svg svg {
  cursor: pointer;
  min-height: 18px;
  width: auto;
}
  .detail {
    display: none;
  }
}
